<!DOCTYPE html>
<html>
  <head>
    <title>cowkeys'blog</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link href="/mdn.ico" rel="shortcut icon">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/jquery-3.2.1.min.js"></script>
    <script src="/javascripts/mdn.js"></script>

  </head>
  <body>
    <h1>COWKEYS'STORY</h1>
    <p>it's best not to think too much</p>
    <a target="blank" href="https://github.com/cowkeys"><img class="intro" src="/img/github.png"/></a>
    <a href="mailto:cowkeysg@gmail.com"><img class="intro" src="/img/gmail.png"/></a>
    <a target="blank" href="https://www.jianshu.com/u/8984e813597b"><img class="intro" style="border-radius:50px" src="/img/jianshu.jpg"/></a>
    <hr/>
    <p style="font-size:12px;margin-top:0px;padding-top:0px">2019</p>
    <div id="xx">
    <textarea id="cnt" style="border-radius: 10px;width:100%;height:50px"  ></textarea>
    <button type="button" style="border:pink 1px;float:right;cursor:pointer" onclick="send();">send</button>
    <a href="javascript:;" class="a-upload">
      <input type="file" name="" id="upfile">upload
    </a>
    </div>
    <div id="tag">
        <label class="xstory">story</label>
        <label class="xmemo">memo</label>
        <label class="xtech">tech</label>
        <label class="xelse">else</label>
      </div>
    <img id="preview" src=""/>
    <ul id="chatbox">
      <li style="display:false;list-style-type:none"></li>
      <a id="more" href="javascript:void(0);" onclick="getMsg()">more</a>
    </ul>
    
  </body>
</html>
