<!DOCTYPE html>
<html>
  <head>
    <title>mdn</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link href="/mdn.ico" rel="shortcut icon">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/jquery-3.2.1.min.js"></script>
    <script src="/javascripts/mdn.js"></script>

  </head>
  <body>
    <h1>mdn</h1>
    <p>IT HAS BEEN 200 DAYS
      SINCE THE DAY YOU SAID YES! 七夕快乐</p>
    <hr/>
    <p style="font-size:12px;margin-top:0px;padding-top:0px">2017/02/10--2017/08/28</p>
    <br>
    <textarea id="cnt" style="border-radius: 10px;width:100%;height:50px"  ></textarea>
    <button type="button" style="border:pink 1px;float:right;cursor:pointer" onclick="send();">send love</button>
    <a href="javascript:;" class="a-upload">
      <input type="file" name="" id="upfile">upload
    </a>
    <br>
    <img id="preview" src=""/>
    
    <ul id="chatbox">
      <li style="display:false;list-style-type:none"></li>
      <a id="more" href="javascript:void(0);" onclick="getMsg()">more</a>
    </ul>
    
  </body>
</html>
